@import '~botparade/dist/styles/const';

.Monitor {
    .Panel-content {
        font-size: 60%;

        .Monitor-summary {
            margin: $dist $dist $dist 1.5 * $dist;
        }

        & > div > p {
            margin-bottom: $dist;
        }
    }
}
