@import '~botparade/dist/styles/const';


.ReportPage {

  .Report {

    border-spacing: $dist;

    th, td {
      padding: $dist;

      border-width: 1px;
      border-left-width: 5px;
      border-style: solid;
      border-color: transparent;
      border-radius: 3px;
    }
    th {
      font-weight: bold;
    }
    td {
      &.red {
        border-color: $red;
      }
      &.green {
        border-color: $green;
      }
    }
  }
}
