@import '~botparade/dist/styles/const';

.SearchPage {
    .SearchPage-filter {
        padding: $dist;
        background-color: $slate_3;
        flex-grow: 1;
        min-width: 0;
        border: 1px solid transparent;

        &.error {
            border-color: red;
        }
    }
}
